.pottini{
    background-color: cadetblue;
    text-align: center;
    border-style: solid;
    border-color: hsl(hue, saturation, lightness);
    border-width: 5px;
    padding: 8px;
border-radius: 20px;

}

.nav-link{
    font-size: 20px;
   color: gray;
}
.giulia{
    font-size: large;
    color: darkmagenta;
}
.mattia{
font-size: large;
color: dodgerblue;

}
.contenitore{
    border-style:solid ;
width: 70px;
height: 70px;
position: absolute;
top: 200px;
left: 200px;
}
.simbolo{
    font-size: 40px;

}